html, body{ height: 100%;}
body, h1, p, ul, li{ margin: 0; padding: 0;}
ul, li{ list-style: none;}
body{ display: flex; flex-direction: column; line-height: 2; background-image: linear-gradient(90deg, #E7DFEC 0%, #75A5B8 100%); text-align: center; font-family: Helvetica; font-size: 16px;}
a{ text-decoration: none; color: #666;}

.card{ margin: 10% auto 1%; padding: 4rem 2rem 1rem; width: 75vw; height: 65vh; background: #EDEDED; border-radius: .25rem;}
.avatar{ width: 120px; height: 120px; border-radius: 50%; background-image: linear-gradient(135deg, #FFFFFF 0%, #EDEDED 100%);}
.card h1{}
.card p{ color: #999;}
.icons{ display: flex; justify-content: space-around; margin-top: 1rem; padding-top: 1rem; border-top: 1px solid #DDD;}
.icons .icon{ color: #333;}
.icons label{ display: none;}

#footer{ font-size: .75rem; color: #666;}

@media (min-width: 992px) {
.card{ max-width: 15rem; max-height: 50vh;}
}
