@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6ss225');
  src:  url('../fonts/icomoon.eot?6ss225#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6ss225') format('truetype'),
    url('../fonts/icomoon.woff?6ss225') format('woff'),
    url('../fonts/icomoon.svg?6ss225#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-positioning:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-success:before {
  content: "\e902";
}
.icon-mark:before {
  content: "\e903";
}
.icon-ask:before {
  content: "\e904";
}
.icon-code:before {
  content: "\e905";
}
.icon-area:before {
  content: "\e906";
}
.icon-card:before {
  content: "\e907";
}
.icon-person:before {
  content: "\e908";
}
.icon-position:before {
  content: "\e909";
}
.icon-mobile:before {
  content: "\e90a";
}
.icon-customer:before {
  content: "\e90b";
}
.icon-job:before {
  content: "\e90c";
}
.icon-refund:before {
  content: "\e90d";
}
.icon-rate:before {
  content: "\e90e";
}
.icon-date:before {
  content: "\e90f";
}
.icon-money:before {
  content: "\e910";
}
.icon-funds:before {
  content: "\e911";
}
.icon-firm:before {
  content: "\e912";
}
.icon-loan:before {
  content: "\e913";
}
.icon-assess:before {
  content: "\e914";
}
.icon-gift:before {
  content: "\e915";
}
.icon-calculator:before {
  content: "\e916";
}
.icon-apply:before {
  content: "\e917";
}

