{{ define "main" }}

<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto mt-5 mb-5 text-center block">
        <img src="{{ .Params.Image | relURL }}" alt="{{ .Title | markdownify }}" class="img-fluid">
        <h4 class="mt-3 mb-3">{{ .Title | markdownify }}</h4>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- blog -->
<section class="section">
  <div class="container">
    <h2 class="text-center">Post by {{ .Title | markdownify }}</h2>
    <div class="row">
      {{ $name:= .Title }}
      {{ range where .Site.RegularPages "Params.author" $name }}
      <article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mt-5 mb-5" data-wow-duration="500ms">
        <div class="post-block">
          <div class="media-wrapper">
            {{ with .Params.image }}<img src="{{ . | absURL }}" alt="post-image" class="img-fluid">{{ end }}
          </div>
          <div class="content">
            <h3><a href="{{ .Permalink }}">{{ with .Params.name}}{{.}}{{else}}{{ .Title }}{{end}}</a></h3>
            <p><span> At {{ .PublishDate.Format "02 January 2006" }}</span>, category : {{ range .Params.Categories }}
              <a href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}">{{ . | title | humanize }}</a>
              {{ end }}
            </p>
            <a href="{{ .Permalink }}">read more</a>
          </div>
        </div>
      </article>
      {{ end }}
    </div>
  </div>
</section>
<!-- /blog -->

{{ end }}
