@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?17qujl');
  src:  url('../fonts/icomoon.eot?17qujl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?17qujl') format('truetype'),
    url('../fonts/icomoon.woff?17qujl') format('woff'),
    url('../fonts/icomoon.svg?17qujl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map:before {
  content: "\e904";
}
.icon-drag:before {
  content: "\e901";
}
.icon-zoom-out:before {
  content: "\e902";
}
.icon-zoom-in:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-article:before {
  content: "\e906";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-download:before {
  content: "\e908";
}
.icon-mail:before {
  content: "\e909";
}
.icon-google-plus:before {
  content: "\e90a";
}
.icon-linkedin:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-news:before {
  content: "\e90f";
}
.icon-book:before {
  content: "\e910";
}
.icon-tags:before {
  content: "\e911";
}
.icon-pen-solid:before {
  content: "\e912";
}
.icon-pen:before {
  content: "\e913";
}
.icon-activities:before {
  content: "\e914";
}
.icon-contact:before {
  content: "\e915";
}
.icon-feedback:before {
  content: "\e916";
}
.icon-subscribe:before {
  content: "\e918";
}
.icon-join:before {
  content: "\e919";
}
.icon-about:before {
  content: "\e91a";
}
.icon-chevron-circle-up:before {
  content: "\e917";
}
.icon-mobile:before {
  content: "\e900";
}
.icon-display:before {
  content: "\e956";
}

