@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?85m0vp');
  src:  url('fonts/icomoon.eot?85m0vp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?85m0vp') format('truetype'),
    url('fonts/icomoon.woff?85m0vp') format('woff'),
    url('fonts/icomoon.svg?85m0vp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-key:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e900";
}
.icon-checked:before {
  content: "\e902";
}
.icon-ven:before {
  content: "\e903";
}
.icon-icx:before {
  content: "\e904";
}
.icon-pnt:before {
  content: "\e905";
}
.icon-btm:before {
  content: "\e906";
}
.icon-bat:before {
  content: "\e907";
}
.icon-ae:before {
  content: "\e908";
}
.icon-notice:before {
  content: "\e909";
}
.icon-ltc:before {
  content: "\e90a";
}
.icon-eth:before {
  content: "\e90b";
}
.icon-bth:before {
  content: "\e90c";
}
.icon-btc:before {
  content: "\e90d";
}
.icon-mine .path1:before {
  content: "\e90e";
  color: rgb(155, 155, 155);
}
.icon-mine .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(122, 128, 143);
}
.icon-chart .path1:before {
  content: "\e910";
  color: rgb(122, 128, 143);
}
.icon-chart .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.icon-wallet .path1:before {
  content: "\e913";
  color: rgb(54, 206, 236);
}
.icon-wallet .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(32, 108, 219);
}
.icon-wallet .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(54, 206, 236);
}
