html{ height: 100vh;}
body{ background: #002560 url(../img/bg.png) no-repeat center bottom; background-size: cover; background-attachment: fixed; color: #fff; overflow: hidden;}

.container{ max-width: 1856px;}

.portal{ position: relative;}
.portal svg{ width: 100%;}
.portal:hover{ transition: ease-in-out .3s; cursor: pointer;}
.portal-l{ margin-top: 8%; left: 8%}
.portal-l:hover{ margin-top: 5%;}
.portal-c{ margin-top: 21%; }
.portal-c:hover{ margin-top: 18%;}
.portal-r{ margin-top: 11%; left: -8%;}
.portal-r:hover{ margin-top: 8%;}

@media (max-width: 576px) {
html{ height: inherit;}
body{ padding-top: 15%; overflow: auto;}
.portal-l,
.portal-c,
.portal-r{ margin-top: 0; left: 0}
}
