/* reset */
html,body,div,h1,h2,h3,h4,p,ul,li,input,img{ margin: 0; padding: 0;}
ui,li{ list-style: none;}
img{ width: 100%; height: auto; border: none;}
em,i,b{ font-style: normal;}

body{ background-color: #eee; font-size:15px; line-height: 1;}
a:active{ opacity: .8;}

/* mui修改 */
input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],select,textarea{ width: 80%; padding:10px; font-size: 15px; color: #212121;}


.mui-btn{ padding: 0;}
.mui-btn-block{ padding: 0; height: 44px; line-height: 44px;}
.mui-btn-blue, .mui-btn-primary{ border-color: #2B98F0; background-color: #2B98F0;}
.mui-btn-small{ padding: 5px 10px; font-size: 15px;}
.mui-btn-no{ padding: 0; border: none;}
.mui-btn-grey{ position: absolute; right: 10px;}

.mui-slider-indicator{ bottom: 10%;}
.mui-slider-indicator .mui-indicator{ margin: 0 5px; width: 10px; height: 10px; background: #fff; box-shadow: none;}
.mui-slider-indicator .mui-indicator.mui-active{ background: #2B98F0;}

.mui-input-group .mui-input-row{ padding-right: 10px; height:44px; line-height: 44px;}
.mui-input-group:before{ background-color: #fff;}
.mui-input-group:after{ background-color: #ddd;}
.mui-input-group .mui-input-row:after{ left: 0; background-color: #ddd;}
.mui-input-row label{ padding: 14px 10px; font-size: 15px; color: #757575;}
.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{ float: none;}
.mui-input-row label~select{ margin: 0; width: 50%;}
.mui-input-row label.full{ width: 100%;}
.mui-input-row input.full{ width: 100%; padding-left: 10px;}
.mui-input-row select{ font-size: 15px;}
.mui-input-row.radio-row{ height: 74px; line-height: inherit;}
.mui-input-row.radio-row .mui-radio{ margin-right: inherit; margin-left: 50px; }
.mui-input-row.auto-row{ height: auto; min-height: 44px; line-height: inherit;}
.mui-input-row.auto-row .mui-btn-no{ display: block; margin-left: 10px; width: 100%; text-align: left; line-height: 44px; color: #212121;}
.mui-input-row.auto-row p{ position: relative; top: -5px; margin: 0 0 10px 0; padding: 0 0 0 35%; color: #9e9e9e; line-height: 21px;}
.mui-input-row.auto-row input.full{ margin: 0 0 10px; padding: 0 10px; height: inherit;}
.mui-input-row{ position: relative; padding-left: 26px;}
.mui-input-row .icon{ position: absolute; left: 10px; top:12px; color: #757575;}
.mui-input-row .mui-icon-arrowdown{ margin-top: 12px; color: #bdbdbd;}
.mui-icon-clear{}
.mui-icon-home{ border-color: #9e9e9e; color: #757575;}
.mui-input-row .error{ color: red;}
.mui-input-row.label-long label{ width: 60%;}
.mui-input-row.label-long input{ width: 40%;}
.mui-input-row.label-long select{ width: 30%;}
/* .mui-input-row p.bank-adress{ margin: 0 0 10px; padding: 0 0 0 35%; line-height: 1.2;} */

/* tab-scroll */
.mui-row.mui-fullscreen>[class*="mui-col-"] {
    height: 100%;
}

.mui-col-xs-4,
.mui-col-xs-8 {
    overflow-y: auto;
    height: 100%;
}

.mui-segmented-control .mui-control-item {
    line-height: 50px;
    width: 100%;
}

.mui-control-content {
    display: block;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    background-color: #fff;
}

/* 通用 */
.mui-pick-bar{ position: relative; padding: 0 10px; border-bottom: 1px solid #e7e7e7;}
.mui-pick-bar button{ margin-bottom: 0; padding-left: 26px; border: none; height: 44px;  line-height: 44px; font-size: 15px; color: #757575;}
.mui-pick-bar button .icon{ position: absolute; left: 0; line-height: 44px;}
.mui-pick-bar button .mui-pull-left{ width: 55%; text-align: left;}
.mui-pick-bar button .mui-pull-right{ float: inherit;}
.mui-pick-bar button .ui-alert{ width: 30%; text-align: left; color: #212121;}
.mui-c{ padding: 20px 0; text-align: center;}
.mui-c .mui-btn{ margin: 0 auto;}
.mui-btn-blue{ background: #2B98F0; border: none;}
.mui-btn-blue .icon{ color: #fff;}
.mui-input-row .text{ height: 44px; line-height: 44px;}
.grey{ height: 44px; line-height: 44px; color: #9E9E9E;}
.fr{ float: right;}
.tc{ text-align: center;}
.fixed{ position: fixed; left: 0; right: 0;  bottom: 0; z-index: 1;}

.input-row{padding: 0 10px; line-height: 44px; font-size: 15px;}

.inline-radio{ padding: 15px 30px 15px 0; text-align: right;}
.inline-radio span{ margin-right: 50px;}
.inline-radio span input{ margin-left: 10px;}
.inline-radio span.mui-radio input[type=radio]{ left: 10px; top: -5px; color: #757575;}
.inline-radio span.mui-radio input[type=radio]:checked:before{color: #979797;}

/* congrats */
.congrats{ padding: 20px 20px 20px 120px; background: url(../img/congrats@3x.png) 10px center no-repeat; background-size: auto 72px;}
.congrats h4{ margin-bottom: 10px;}
.congrats p{ font-size: 13px; color: #212121; line-height: 1.5;}

/* 验证码 */
.verify input{ width: 50%;}
.verify button{ margin: 6px 0 0 0; float: right; border: none; background: #DEDEDE;  color: #757575;}
.verify .mui-icon-clear{ margin-right: 100px;}

.drop{ position: absolute; width: 100%; z-index: 1;}
.drop li{padding: 0 10px 10px 36px; height: 28px; line-height: 28px; background: #fff; font-size: 13px;  color: #757575;}
.drop li.active{ background: #f4f4f4; color: #212121;}

/* 自动消失报错提示 */
.mui-toast-container{ top: 0;}
.mui-toast-message{ margin: 0; padding: 10px 0; width: 100%; border-radius: 0; background: #F1453D; color: #fff;}

.select{ margin: 0 10px; line-height: 44px;}

.icon{ display: inline-block; width: 16px; height: 16px; line-height: 16px; text-align: center; font-size: 16px;}
.icon11{ height: 11px; font-size: 11px; margin-top: 3px;}
.icon12{ height: 12px; line-height: 12px; font-size: 12px; margin-top: 3px;}
.icon13{ height: 13px; line-height: 13px;font-size: 13px; margin-top: 3px;}
.icon14{ height: 14px; line-height: 14px;font-size: 14px; margin-top: 3px;}
.icon16{}
.icon24{ width: 24px; height: 24px; line-height: 24px; font-size: 24px; margin-top: 9px;}
.icon36{ width: 36px; height: 36px; line-height: 36px; font-size: 36px; }
.icon40{ width: 40px; height: 40px; font-size: 40px;}
.icon-home{ color: #9e9e9e;}
.icon-success{ color: #50AE55;}
.icon-mr{ margin-right: 5px;}

li{ line-height: 2; color: #757575;}
li .mui-pull-right{ color: #212121;}
li .icon{ margin-right: 10px;}

.block{ display: block; margin: -10px 10px 0; background: #fff;}
.block.without{ margin: 10px 10px; background: none;}
.block.without h2{ padding: 5px 10px 8px; font-size: 13px; color: #757575;}
.block.without .box{ margin: 0 0 10px; padding: 20px; background: #fff;}
.block.ps{ margin: 10px; padding: 0 10px; background: none; font-size: 13px;}
.block .ps{ margin-top: 10px; padding-top: 10px; line-height: 1.6; }

#footer{ margin: 20px 0; text-align: center;}
#footer p{ font-size: 12px; color: #959595;}

/* 主题区 */
.theme-box{}
.theme-box#apply{ height: 175px; background:#55ADF3 url(../img/theme-apply@3x.png) right center no-repeat; background-size: 75% auto;}
.theme-box#theme-calculator{ height: 175px; background: #43D191 url(../img/theme-calculator@3x.png) center center no-repeat; background-size: auto 50%;}
.theme-box#theme-reckon{ height: 175px; background: #1FBCD2 url(../img/theme-reckon@3x.png) center center no-repeat; background-size: auto 65%;}
.theme-box#theme-success{ height: 175px; background: #2B98F0 url(../img/theme-success@3x.png) center center no-repeat; background-size: auto 50%;}
.theme-box#theme-my{ height: 175px; background: #2B98F0 url(../img/theme-my@3x.png) center center no-repeat; background-size: auto 50%;}
.theme-box#theme-login{ height: 175px; background: #55ADF3; text-align: center;}
.theme-box#theme-login .icon{ position: relative; top: 20%; display: block; margin: 0 auto; width: 100px; height: 100px; line-height: 100px; border: 1px solid #fff; border-radius: 50%; text-align: center; font-size: 65px; color: #fff;}

/* home */
.menu{ padding-left: 10px; background: #fff; border-bottom: 1px solid #ddd;}
.menu a{ display: inline-block; padding: 10px 0 10px; width:23%; text-align: center; font-size: 13px;  color: #212121;}
.menu a .icon{ display: block; margin: 0 auto 8px; color: #2B98F0;}

.block#product{ margin-top: 10px; background: none;}
#product h2{ padding: 5px 10px 10px;  font-size: 13px; color: #757575;}
#product .single{position: relative; padding:30px 0 0 50%; display: block; margin-bottom: 10px; height: 111px; background: #dedede url(../img/loan@3x.png) 30% center no-repeat; background-size: auto 50%; font-size: 20px; color: #212121;}
#product .single h3{ font-size: 20px; }
#product .single p{ margin-top: 10px; font-size: 13px; color: #757575;}
#product .single .mui-icon{ position: absolute; right: 10px; top: 40%;}
.single#p1 p, .single#p2 p{ color: #fff;}
.single#p1{ padding: 20px 0 0 50%; background: #468FDC url(../img/p1@3x.png) 10% 70% no-repeat; background-size: auto 85%; color: #fff;}
.single#p2{ padding: 10px 0 0 5%; background: #1FBCD2 url(../img/p2@3x.png) center bottom no-repeat; background-size: auto 70%; color: #fff;}
.single#p2 h3, .single#p2 p{ display: inline-block;}

/* product */
.box{ margin-top: 10px; background: #fff;}
.box .title{ padding: 0 10px; height: 40px; line-height: 40px; background-color: #55ADF3; font-size: 15px; color: #fff;}
.box .content{ padding: 20px; line-height: 2; color: #757575;}
.box .content p{ font-size: 15px;}
.box .content em, .box .content i, .box .content b{ font-weight: bold; color: #212121;}
.box .content li i{ margin-right: 5px;}
#btn-assess{ position: absolute; padding: 0; width: 44px; height: 44px; line-height: 44px; border-right: 1px solid #fff; border-radius: 3px 0 0 3px; z-index: 1;}
.box.feature{ margin-bottom: 75px;}
.box .conditions{ padding: 0 0 20px;}
.box .conditions li{ padding-top: 20px; text-align: center;}
.box .conditions li .icon{ display: block; margin-bottom: 5px; width: 100%; height: 96px; background-repeat: no-repeat; background-position: center center; background-size: auto 100%;}
.box .conditions li .icon-after-1year{ background-image: url(../img/icon-after-1year@3x.png);}
.box .conditions li .icon-age{ background-image: url(../img/icon-age@3x.png);}
.box .conditions li .icon-good{ background-image: url(../img/icon-good@3x.png);}
.box .conditions li .icon-¥1000{ background-image: url(../img/icon-¥1000@3x.png);}
.box .conditions li .icon-deposit-1year{ background-image: url(../img/icon-deposit-1year@3x.png);}
.box .conditions li em{ color: #2B98F0;}

/* calculator */
#calculator .mui-input-row label{ width: 35%;}
#calculator .mui-input-row label~input, #calculator .mui-input-row label~select{ width: 50%;}
#result{ margin-top: 10px; padding: 10px;}
#result .box li em{ margin-left: 20px; font-weight: bold; color: #2B98F0;}

/* reckon */
#reckon .mui-input-row label{ width: 55%;}
#reckon .mui-input-row input{ width: 30%;}
#reckon .mui-input-row label~select{ width: 30%; text-align: right;}
#reckon .mui-input-row label~select option{ text-align: right;}
#reckon-result{ padding: 40px; text-align: center;}
#reckon-result p{ line-height: 1.6; font-size: 17px;}
#reckon-result .ps{ font-size: 13px;}
.badge{ margin: 20px auto; padding: 10px; width: 107px; height: 107px; background-color: #FDC02F; border-radius: 50%; text-align: center;}
.badge span{ display: block; color: #785549;}
.badge .big{ margin: 15px 0 10px; font-size: 40px; font-weight: bold; color: #fff;}

/* activities */
#activities .block.banners{ margin-top: 10px; background: none; min-height: 353px;}
#activities .block.banners a{position: relative; display: block; margin-top: 10px;}
#activities .block.banners a .mark{ position: absolute; right: -1px; top: -1px; display: block; width: 48px; height: 48px;}
#activities .block.banners a .mark.ing{ background: url(../img/ing@3x.png) no-repeat center center; background-size: auto 100%;}
#activities .block.banners a .mark.end{ background: url(../img/end@3x.png) no-repeat center center; background-size: auto 100%;}

/* success */
.tips{ position: relative; padding: 40px 20px; text-align: center; line-height: 2; font-size: 15px; min-height: 353px;}
.tips .mui-btn{ padding: 5px 10px; font-size: 15px;}
.tips p { margin-bottom: 20px; color: #212121;}
.tips p a{ text-decoration: underline;}
#official{ position: absolute; bottom: 20px; left: 10%; right: 10%; width: 80%; margin: 0 auto; font-size: 13px; color: #757575; line-height: 1.6;}
.qr{ margin: 20px 0 10px;}
.qr img{width: inherit; width: 90px; height: 90px;}

/* my */
#my-list{}
#my-list .box{ display: block; font-size: 13px; color: #757575;}
#my-list .box em{ font-size: 15px; color: #212121;}
#my-list .box .no em{ margin-left: 5px; font-size: 17px;}
#my-list .box .sn, #my-list .box .date{ margin: 20px 0; display: inline-block;}
#my-list .box .sn{ margin-right: 10%;}
#my-list .box .sn em, #my-list .box .date em{ margin-top: 5px; display: block; color: #212121;}
#my-list .box .process{ height: 40px;}
#my-list .box .process .mark{ position: absolute; right: 0; display: block; padding: 0 30% 0 30px; height: 40px; line-height: 40px; background: url(../img/mark@3x.png) left center no-repeat; background-size: auto 100%; font-size: 15px; font-weight: bold; color: #757575; opacity: .8;}
#my-list .box .process .mark.finished{ background-image: url(../img/mark-green@3x.png); color: #fff;}

#my-detail .box{ padding: 10px;}
#my-detail .box#steps{ padding: 20px 10px;}
#steps li{ position: relative; margin-left: 10px; padding: 0 0 10px 20px; border-left: 1px solid #ddd; line-height: 20px; color: #212121;}
#steps li:last-child{ border-left: none;}
#steps li .icon{ position: absolute; left: -10px; top: 0; display: block; float: left; width: 20px; height: 20px;  line-height: 20px; border-radius: 50%; background: #eee; font-size: 13px; color: #757575;}
#steps li .icon.finished{ background: #5DC762; color: #fff;}
#steps li span{ display: inline-block;}
#steps li .mui-pull-left{ width: 40%; color: #757575;}
#steps li .text{ width: 60%;}

/* login */
#login .block{ margin: -10px 10px 0; padding:  0 0 10px;}
#login .link-area{ margin-top: 20px; text-align: center;}


