.icon-tech:before {
	background-image: url(../svg/icons-forums/tech.svg);
}
.icon-survey:before {
    background-image: url(../svg/icons-forums/survey.svg);
}
.icon-docs:before {
    background-image: url(../svg/icons-forums/docs.svg);
}
.icon-safety:before {
    background-image: url(../svg/icons-forums/safety.svg);
}
.icon-coop:before {
    background-image: url(../svg/icons-forums/coop.svg);
}

