
/* header */
#header{ background-image: linear-gradient(270deg, #D36EBC 0%, #9C62DB 29%, #2C81E6 66%, #1C71E2 84%, #0F63DF 100%);}

.navbar{ padding: .5rem 0;}
.navbar-nav .nav-item a{ padding: .75rem 0 !important; color: #fff; text-align: center;}
.navbar-nav .nav-item a:hover{ color: #fff; opacity: .8;}
.navbar-toggler{ padding: .25rem 0;}

/* about */
#about{ padding-top: 74px;}
.about{ padding: 10rem 0 5rem; min-height: calc(100vh - 0px); background: url(../images/bg.jpg) no-repeat center top; background-size: cover;  text-align: center; color: #fff;}
.about img{ margin-bottom: 3rem;}

/* services */
.services{ padding: 2rem 0; background: #426EFE; color: #fff;}
.services h2{ margin-bottom: 3rem;}
.services .icon-box i{ font-size: 3rem;}
.services .ddd{ margin: 1rem 0;}

/* contact */
#contact{ padding-top: 114px;}
.contact-details .con-info i{ font-size: 3rem;}
.contact-details .con-info p{ margin-top: 1rem;}

.post-block h3{ margin: .5rem 0;}

.pagination{ justify-content: center;}

/* footer */
footer{ padding: 2rem 0; text-align: center; font-size: 14px; font-weight: 100;}


@media (min-width: 992px) {
.nav-item{ margin-left: 2rem;}
.navbar-nav .nav-item.active a{ border-bottom: 1px solid #fff;}
}
