a{ color: #2D3436;}

.btn-outline{ background: none; border: 1px solid #148FE4; color: #148FE4;}

.block .title{ font-size: 30px;}
.block .title .more{ font-size: 24px; font-weight: normal;}
.block .title .more .icon{ margin-left: 9px; font-size: 20px;}

.header{ height: 90px; background: #148FE4; color: #FFF;}
.header .logo{ display: block; margin-top: 15px; width: 173px; height: 63px; background: url(img/logo@2x.png); background-size: contain; text-indent: -9999px;}
.header .menu li a{ color: #FFF;}
.header .nav .menu li+li{ margin-left: 0;}
.header .nav .menu li a{ display: inline-block; padding: 0 20px; height: 90px; line-height: 90px;}
.header .option{ margin-top: 28px;}
.header .option:last-child li{ height: inherit; line-height: inherit;}
.header .btn-outline{ padding: .5rem 1.25rem; border-radius: 20px; border-color: #FFF; color: #FFF;}


